@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
* {
    background-color: #1E1E1E;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding:0 2%;
}

.logo {
    width: 60%;
    padding-top: 0%;

}

header{
    padding: 10px 0;
}

.menu{
    text-align: right;
    padding-top: 80px;
}

.menu a{
    color: rgb(163, 159, 159);
    text-decoration-color: transparent;
    margin-left: 25px;
    font-size: 20px;
    transition-property: text-decoration;
    transition-duration: 0.9s;
    transition-property: color;
}

.menu a:hover{
    color:#fff;
    text-decoration: underline;
    text-decoration-color: #7C67E8;
}

.menu a:last-child{
    background-color: #7C67E8;
    text-decoration: none;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:40px;
    padding-right:40px;
}

.texto{
    margin-left: 230px;
    margin-top: 200px;
    margin-right: 0;
    margin-bottom: 0;
}

.texto h1{
    font-size: 70px;
    color: #fff;
}
.texto span{
    font-size: 70px;
}
.macaco1{
    position: absolute;
    top: 350px;
    left: 1000px;
}
.macaco2{
    position: absolute;
    top: 350px;
    left: 1300px;
}
.macaco3{
    position: absolute;
    top: 300px;
    left: 1100px;
}

.macaco1  img{
    border-radius: 5%;
    transform: rotate(-15deg);
}
.macaco2  img{
    border-radius: 5%;
    transform: rotate(15deg);
}
.macaco3  img{
    border-radius: 5%;
    height: 500px;
}

.texto a{
    position: relative;
    left: 300px;
    margin: 20px;
    text-decoration: none;
    color: #7C67E8;
}

html,body{
    width: 100%;
    overflow-x: hidden;
}

.center2{
    margin-top: 600px;
    margin-bottom: 200px;
}

.center2 p{
    color:#fff;
    padding:40px;
    max-width: 700px;
}
body::-webkit-scrollbar {
    width: 12px;               /* largura da barra */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent; /* cor da area */

  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #7C67E8;    /* cor do scroll */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

.rodape h3{
    background-color: #7C67E8;
    height: 200px;
    text-align: center;
}

.localizacao{
    margin-top: 300px;
}
.localizacao h2{
    color: #fff;
    padding:40px;
    font-size: 40px;
    margin-left: 230px;
    margin-top: 200px;
    margin-right: 0;
    margin-bottom: 0;
}

iframe{
    margin-left:400px;
}


